<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Three.js with Flask</title>
</head>
    <link rel="stylesheet" href="../static/css/inicio.css">
    <script type="text/html" src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.3/gsap.min.js"></script>
    <script type="module" src="../static/js/inicio.js"></script>
<body>
        <canvas class="webgl">holas</canvas>
        <section class="one">
            <div class="container">
                <div class="hero">
                    <h2>InkaRobot</h2>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.<br>
                        Sed nemo consequuntur quibusdam ipsa nam architecto<br> 
                        voluptas repellendus in doloribus optio laudantium, itaque <br>
                        exercitationem soluta maiores molestiae, doloremque assumenda<br> 
                        facilis ea!
                    </p>
                </div>
            </div>
        </section>
        <section class="dos">
            <div class="container">
                <div class="hero">
                    <h2>InkaRobot <span>Listo para crear robots?</span></h2>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.<br>
                        Sed nemo consequuntur quibusdam ipsa nam architecto<br> 
                        voluptas repellendus in doloribus optio laudantium, itaque <br>
                        exercitationem soluta maiores molestiae, doloremque assumenda<br> 
                        facilis ea!
                    </p>
                </div>
            </div>
        </section>
        <section class="tres">
            <div class="container">
                <h1>INKAROBOT</h1>
            </div>
        </section>
</body>
</html>
